/node_modules
/package-lock.json
/components/addon-components/*
/cards/addon-cards/*
/styles/addon-styles/*

# Don't track below Fallback components
# /components/Auth/FallbackLogin/FallbackLogin.tsx
# /components/Footer/FallbackFooter/FallbackFooter.tsx
# /components/Navbar/FallbackNavbar/FallbackNavbar.tsx
# /components/ProductCategoriesComponents/ProductListLayoutComponents/FallbackGrid/*
# /components/ProductCategoriesComponents/ProductListLayoutComponents/FiltersComponent/FallbackFilters/*
# /components/ProductCategoriesComponents/ProductListPageLayout/FallbackLayouts/FallbackLayout.tsx
# /components/ProductPageComponents/ProductInformationComponents/FallbackProductInformation/FallbackProductInformation.tsx
# /components/Cart/PersonalisedCart/*