.bannerTitle {
  font-size: 3.5rem;
  font-weight: 700;
  color: #222222;
  margin-bottom: 10px;
  white-space: nowrap;
}
.banner_btn {
  background-color: #222222;
  border-radius: 0;
  border: none;
  font-weight: 700;
  padding: 10px 32px;
}
.banner_p_tag {
  font-size: 19px !important;
  font-weight: 500;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.catagoryImg {
  width: 100%;
  min-height: 600px;
  object-fit: cover;
  object-position: 45% 20%;
}

@media only screen and (max-width: 1024px) {
  .bannerTitle {
    font-size: 2.5rem;
  }
  .catagoryImg {
    min-height: 550px;
    object-fit: cover;
    object-position: 45% 20%;
  }
}

@media only screen and (max-width: 768px) {
  .catagoryImg {
    min-height: 300px;
    object-fit: cover;
    object-position: 45% 20%;
  }
  .bannerTitle {
    font-size: 20px;
    white-space: nowrap;
  }
  .banner_btn {
    padding: 5px 12px;
  }
  .banner_p_tag {
    font-size: 12px !important;
  }
}
