.cart_header {
  background: #d7e8f8;
  height: 4rem;
  display: flex;
  align-items: center;
}
.cart_image {
  max-width: 150px;
  height: auto;
  object-fit: cover;
}
.cart_action_icons {
  font-size: 20px;
  color: #222;
  font-weight: 100;
}
