#error_page {
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.error_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.error_content h4 {
  font-size: 48px !important;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
  font-weight: 700;
}
.error_content h4:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error_content p {
  font-size: 16px;
  // color: #0d0d0d;
}
.error_content .error_btns {
  margin: 25px 0;
  display: inline-flex;
}
.error_content .error_btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #63bce7;
  color: #63bce7;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
}
.error_content .error_btns a:hover {
  background: #63bce7;
  color: #fff;
}

.error_button {
  background-color: #7c8281 !important;
  padding: 10px 20px !important;
  width: 154px !important;
  height: 52px !important;
  border: none !important;
  font-size: 16px;
}
.error_button:hover {
  background-color: #8c9291;
}

// Mobile Screen
@media only screen and (max-width: 600px) {
  .error_img_container img {
    width: 200px !important;
    height: 250px !important;
  }
  .error_content h4 {
    font-size: 28px !important;
  }
  .error_content p {
    font-size: 14px !important;
  }
  .error_content {
    margin-top: 1rem;
    display: flex !important;
    justify-content: center !important;
  }
}
