.product_details {
  color: black;
}
.product_name {
  color: gray;
}
.img_container {
  position: relative;
}
.price_section {
  position: absolute;
  bottom: 0;
  left: 15px;
  background-color: white;
}

.card {
  min-width: 270px !important;
}

.card:hover {
  .price_section {
    bottom: 5px;
  }
}
.heart_icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  color: white;
}

.card_container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.card_container::-webkit-scrollbar {
  height: 8px;
}

.card_container::-webkit-scrollbar-thumb {
  background-color: #1a1a49;
}

.card_container::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
.arrowLeft {
  position: absolute;
  left: 20px;
  top: 40%;
  z-index: 1000;
  font-size: 24px;
  color: azure;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  right: 20px;
  top: 40%;
  z-index: 1000;
  font-size: 24px;
  color: azure;
  cursor: pointer;
}
