.header_category_container {
  width: 150px !important;
}

.category_popover {
  min-width: 70% !important;
  padding: 20px !important;
  cursor: pointer;
}
.heading_category_l2 {
  font-size: 16px;
  font-weight: 500;
  color: #cd8825 !important;
}

.heading_category_l3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000e7;
  text-decoration: none;
}
.heading_category_l3:hover {
  color: #707089;
}

.col_container {
  display: flex;
  justify-content: flex-start;
  width: full;
}
.column {
  padding-bottom: 15px 0;
  width: max-content;
  display: table-column;
}

.carousel-caption {
  bottom: 6rem !important;
  left: 180px !important;
}
.navbar_category_items {
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 1;
  padding-left: 17px;
  padding-right: 17px;
}

.navbar_category_items:hover {
  color: #56cfe1;
}

@media (max-width: 768px) {
  .heading_container {
    padding-left: 0;
  }
}
