.backgoundColor {
  background-color: #f1f2f4;
  height: 100%;
}
.tag_section {
  background-color: #fff;
  padding: 16px;
}
.cardMargin {
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .catagoryImg {
    height: auto !important;
    margin-top: 0.5rem;
  }
}


// PersonalizedCategoryBlocks
.category_btn {
  background-color: #cd8825;
  font-size: 0.9rem;
} 
.category_btn:focus {
  background-color: #cd8825 !important; 

}
.category_btn:hover {
  background-color: #cd8825;
} 

.category_title, .category_desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}