.backgoundColor {
  background-color: #f1f2f4;
  height: 100%;
}
.tag_section {
  background-color: #fff;
  padding: 16px;
}
.cardMargin {
  width: 96%;
  margin: 0 auto;
}
.featuredCollectionTitle {
  font-size: 30px;
}
@media (max-width: 1024px) {
  .catagoryImg {
    height: auto !important;
    margin-top: 0.5rem;
  }
}

// PersonalizedCategoryBlocks
.category_btn {
  background-color: #cd8825;
  font-size: 0.9rem;
}
.category_btn:focus {
  background-color: #cd8825 !important;
}
.category_btn:hover {
  background-color: #cd8825;
}

.category_title,
.category_desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
// Featured Categories
.horizontal_line {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background: #222222;
}
.blog_heading {
  font-size: 14px;
}
.blog_description {
  color: #878787;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
}
.featured_banner_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.featured_banner_heading {
  font-size: 36px;
}
.featured_shop_now_btn {
  height: 42px;
  background: #222222;
  color: #f1f2f4;
  border: 0;
}
.featured_shop_now_btn:hover {
  background: red;
}
