.backgoundColor {
  background-color: #f1f2f4;
  height: 100%;
}
.tag_section {
  background-color: #fff;
  padding: 16px;
}
.cardMargin {
  width: 96%;
  margin: 0 auto;
}

.tabButton {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.activeTabButton {
  box-shadow: rgba(0, 0, 0, 0.24) !important;
  border: 1px solid black;
}
.productWithCountDowmConatiner {
  padding: 0px 30% !important;
}

.counterComponent {
  border: white;
  background-color: rgb(255, 162, 0);
  border-radius: 5px;
  padding: 7px 14px 7px 14px;
  // width: 100px;
  // margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counterTitle {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0px !important;
}
.addToCart {
  width: 100% !important;
  background-color: rgb(61, 61, 61);
  padding: 10px 20px 10px 20px;
  color: white;
}

.cartImage {
  max-width: 150px !important;
  height: auto !important;
  object-fit: cover !important;
}

@media (max-width: 768px) {
  .productWithCountDowmConatiner {
    padding: 0px 10% !important;
  }
}
@media (max-width: 426px) {
  .productWithCountDowmConatiner {
    padding: 0px 0px !important;
  }
}
@media (max-width: 1024px) {
  .catagoryImg {
    height: auto !important;
    margin-top: 0.5rem;
  }
}
