.backgoundColor {
  background-color: #f1f2f4;
  height: 100%;
}
.tag_section {
  background-color: #fff;
  padding: 16px;
}
.cardMargin {
  width: 96%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .catagoryImg {
    height: auto !important;
    margin-top: 0.5rem;
  }
}


// PersonalizedCategoryBlocks
.category_btn {
  background-color: #cd8825;
  font-size: 0.9rem;
} 
.category_btn:focus {
  background-color: #cd8825 !important; 

}
.category_btn:hover {
  background-color: #cd8825;
} 

.category_title, .category_desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
// apparel theme
.bannerTitle {
  font-size: 57px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 10px;
}
.banner_btn {
    background-color: #222222;
    border-radius: 0;
    border: none;
    font-weight: 700;
    padding: 10px 32px;
}
.banner_p_tag {
  font-size: 19px !important;
  font-weight: 500;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing:1px;
}
.catagoryImg {
object-fit: cover;
object-position: center center;

}
.masonryContainerImage {
  position: relative;
}
.masonryContainerButton {
  bottom: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
};

.masonry_btn {
  background-color: #ffff;
  border-radius: 0;
  border: none;
  color:#222222;
  font-weight: 700;
  padding: 10px 32px;
  box-shadow: 1px 1px #0000001a;
}
.categories_card {
  height: 457px;
  width: 415px;
}
.cardContainer {
  height: 457px;
  width: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  border: none;
  border-radius: 0;
}
.imageContainer {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.categories_title {
display: flex;
justify-content: space-between;
}
.viewMoreLink {
font-weight: 500;
color: #000;
}
.brandCard {
  height: 170px;
  width: 270px;
  border: 2px solid rgb(191, 191, 191);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lefttabButton, .tabProductTitle {
  font-size: 17px;
  font-weight: 500;
}

.activeTabButton {
  border-bottom: 2px solid #000;
}
.tabContainerMargin {
  margin-top: 3.5rem;
}
.tabcardContainer {
  border: none;
  display: flex;
  align-items: center;
}
.tabimageContainer {

display: flex;
justify-content: center;
align-items: center;
}
.tabProductPrice {
  margin-right: 15px;
  font-size: 17px;

}
.tabProductmrpPrice {
  color: #898888;
  text-decoration:line-through;
}
.tabProductColor{
  
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  background-size: cover;
  margin-right: 8px;
  cursor: pointer;
}
.featuredCollectionTitle:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background: #222222;
}