.categories_title {
  display: flex;
  justify-content: space-between;
}

.tabcardContainer {
  border: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.tabimageContainer {
  position: relative;
  max-width: 100% !important;
  max-height: 100% !important;
  overflow: hidden;
}

.tabProductImage {
  width: 100% !important;
  height: 100% !important;
  min-height: 23rem;
  object-fit: cover !important;
  transition:
    transform 0.8s ease,
    filter 0.8s ease; /* Smooth transition for zoom and shade */
}

.tabimageContainer:hover .tabProductImage {
  transform: scale(1.08); /* Zoom in slightly */
  filter: brightness(0.8); /* Apply a grayish shade */
}

.tabProductPrice {
  margin-right: 15px;
  font-size: 17px;
}
.tabProductmrpPrice {
  color: #898888;
  text-decoration: line-through;
}
.tabProductVariantImage {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  margin-right: 8px;
  padding: 2px;
  padding-left: 0;
  cursor: pointer;
}
.borderInactive {
  border: 1px solid #ffffff77;
}
.borderActive {
  border: 1px solid black;
}
.tabimageContainer:hover .button_container {
  opacity: 1;
  visibility: visible;
  transform: translateY(40%);
  transition: 0.5s ease 0s;
}

.button_container {
  position: absolute;
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 80%;
  margin: auto;
  transform: translateY(-100%);
}
.icon_btn_container {
  background: #fff;
  color: #000;
  font-size: 20px;
  padding: 4px 9px;
  cursor: pointer;
}
.icon_btn_container:hover {
  background-color: #000;
  color: #fff;
}
.featuredCollectionTitle:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background: var(--cl-heading);
}
.product_data {
  position: absolute;
}
@media only screen and (max-width: 576px) {
  .tabProductImage {
    min-height: 18rem;
  }
}
