.addressChange_btn{
    color: #C45500;
    font-weight: 600;
} 
.address_list {
    list-style: none;
    font-size: 14px;
}
.edit_btn{
    font-size: 14px;
}
.p_tag {
    font-size: 13px;
}
.product_item_title {
    font-weight: 600;
    margin-bottom: 3px !important;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none !important;
    width: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.p_tagBold {
    font-weight: 700; 
    font-size: 1rem;
    color: #C45500;
}
.submitAddress {
    background-color: #C45500;
    color: #fff;
    border: 1px solid  #C45500 ;
    font-size: 14px;
    font-weight: 600;
}
