.addressChange_btn{
    color: #C45500;
    font-weight: 600;
} 
.address_list {
    list-style: none;
    font-size: 14px;
}
.edit_btn{
    font-size: 14px;
}
.p_tag {
    font-size: 14px;
}
.p_tagBold {
    font-weight: 700; 
    font-size: 1rem;
    color: #C45500;
}
