.paginationBttns {
  color: #878787;
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.paginationBttns a {
  padding: 8px 13px;
  margin: 5px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.paginationBttns a:not(.paginationDisabled):hover {
  color: #ec0101;
}

.paginationDisabled {
  .paginationBttns a {
    display: none;
  }
}

.previous .previousBttn:not(.paginationDisabled):hover,
.next .nextBttn:not(.paginationDisabled):hover {
  color: white !important;
  background-color: #1a1a49;
}

.paginationActive a {
  color: #ec0101 !important;
}
