.masonryContainerImage {
    position: relative;
  }
  .masonryContainerButton {
    bottom: 20px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  };
  
  .masonry_btn {
    background-color: #ffff;
    border-radius: 0;
    border: none;
    color:#222222;
    font-weight: 700;
    padding: 10px 32px;
    box-shadow: 1px 1px #0000001a;
  }
  .catagoryImg {
    object-fit: cover;
    object-position: center center;
    }