.detailContainer{
    color: black !important;
}
.name{
    font-size: 19px ;
}
.price{
    font-size: 21px;
    font-weight: 600;
}
.specName{
    font-weight: 600;
    font-size: 13px
}

.specValue{
    font-size: 13px;
}

.priceOnReq{
    color: #FFC415;
}
.buttonBackGround{
    background-color: #FFC415;
}
.input{
    width: 80px !important;
}
.features{
    font-size: 12.5px !important;
}

.detailSection{
    font-size: 13px ;
    font-weight: 600;
}

.detailPriceSection{
    font-size: 14px;
}
.stockSection{
    font-size: 20px;
}
.avalibility{
    font-size: 12px;
}

