.detailContainer {
  color: black !important;
}
.name {
  font-size: 19px;
}
.price {
  font-size: 21px;
  font-weight: 600;
}
.specName {
  font-weight: 600;
  font-size: 13px;
}

.specValue {
  font-size: 13px;
}

.priceOnReq {
  color: #c45500;
  font-size: 15px;
  font-weight: 700;
}
.buttonBackGround {
  background-color: #c45500;
  color: aliceblue;
  font-size: 15px;
  font-weight: 700;
}
.input {
  width: 80px !important;
}
.features {
  font-size: 12.5px !important;
}

.detailSection {
  font-size: 13px;
  font-weight: 600;
}

.detailPriceSection {
  font-size: 14px;
}
.stockSection {
  font-size: 20px;
}
.avalibility {
  font-size: 12px;
}
.variant_btn {
  width: fit-content;
  font-size: 12px;
  color: #000;
}
.variant_btn:hover {
 border: 1px solid #c45500 !important;
}
.variant_btn_active {
  width: fit-content;
  font-size: 12px;
  background-color: #c45500;
  color: #FFF;
}
.variant_btn_disabled {
  width: fit-content;
  font-size: 12px;
  color:#CCC;
}