//promotional banner css
.banner_img_container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.banner_img {
  width: 100%;
  height: 100%;
  transition: transform 1.08s ease;
}
.banner_img_container:hover .banner_img {
  transform: scale(1.1); /* Zoom in slightly */
}
.featured_banner_info:hover .banner_img {
  transform: scale(1.1); /* Zoom in slightly */
}

.featured_banner_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.featured_banner_heading {
  font-size: 36px;
  line-height: 38px;
}
.featured_shop_now_btn {
  height: 42px;
  background: #222222;
  color: #f1f2f4;
  border: 0;
}
.featured_shop_now_btn:hover {
  background: #ec0101;
}
@media (max-width: 576px) {
  .featured_banner_heading {
    font-size: 20px;
    line-height: 24px;
  }
  .featured_shop_now_btn {
    height: 32px;
  }
}
