.dropdown_list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #a69476;
  /* border-top: none; */
}
.dropdown_input {
  font-size: 14px;
}

.tagGridWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 8px;
  max-width: 100%;
}

.tagItem {
  background-color: #f6f4ef;
  color: #000;
  border: 1px solid #a69476;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.removeIcon {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}

.inputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 2px soild yellow;
}

.label {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #cbbfa7;
  border-radius: 20px;
  padding: 6px 12px;
  color: #a08963;
  font-size: 14px;
  position: relative;
  flex-wrap: wrap;
  gap: 8px;
}

.inputField {
  border: none;
  outline: none;
  flex: 1;
  color: #a08963;
  font-size: 14px;
  background: transparent;
  min-width: 150px;
}
.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file_upload_label {
  background-color: #FFF6E6;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
  color: #947D58 !important;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
}

.fileName {
  color: #2f3747;
  font-size: 14px;
  word-break: break-word;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.default {
  text-decoration: none;
  cursor: default;
}
// Input Range CSS
.slideWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.slideTitle {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.inputBox {
  display: flex;
  align-items: center;
  border: 1px solid #cbbfa7;
  border-radius: 20px;
  padding: 6px 12px;
  color: #a08963;
  font-size: 14px;
  position: relative;
  flex-wrap: wrap;
  gap: 8px;
}

.inputField {
  border: none;
  outline: none;
  flex: 1;
  color: #a08963;
  font-size: 14px;
  background: transparent;
  min-width: 130px;
}

.rangeDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rangeBox {
  border: 1px solid #a08f72;
  border-radius: 8px;
  padding: 5px 5px;
  width: 120px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.toText {
  font-size: 12px;
  font-weight: 500;
}

.rangeDisplay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  /* gap: 8px; */
}

.rangeBox {
  width: 120px;
}

.inputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rangeBox {
  padding: 5px 12px;
  // padding-left: 24px; /* space for prefix */
  padding-right: 24px; /* space for suffix */
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 120px;
  text-align: start;
  font-size: 12px;
  font-weight: 500;
  color: black;
}
.rangeBox:focus {
  outline: #a08f72;
  border: 1px solid #a08f72;
}
.unitPrefix {
  position: absolute;
  left: 10px;
  font-size: 12px;
  color: #333;
  pointer-events: none;
}

.unitSuffix {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #333;
  pointer-events: none;
}

.toText {
  font-size: 12px;
  font-weight: 500;
  margin: 0 8px;
}

/* .rangeDisplay {
  display: flex;
  align-items: center;
  gap: 8px;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 12px;
}

.sortSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 10px;
}

.sortLabel {
  font-size: 14px;
  color: #4a4a4a;
  margin-left: 6px;
}

.custom-radio input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 4px solid #a18e6f; /* match the brownish outline */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  transition: border 0.2s ease;
}

.custom-radio input[type='radio']:checked {
  border: 4px solid #a18e6f; /* same border even when checked */
}

.custom-radio input[type='radio']:focus {
  outline: none;
  box-shadow: none;
}

.custom-radio label {
  vertical-align: middle;
  cursor: pointer;
}

.custom_check input[type='checkbox'] {
  border: 1px solid #E9E9E9;
  background-color: #fff;
  font-size: 18px;
  margin: 0;
}

.custom_check input[type='checkbox']:checked {
  border: 1px solid #A69476;
  background-color: #A69476;
  --bs-form-check-bg-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='#FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 10 3 3 6-6'/%3E%3C/svg%3E")
}

.custom_check input[type='checkbox']:focus {
  box-shadow: 0 0 0 .25rem rgba(166, 148, 118, .25);
  border: 1px solid #A69476;
}

.kcCardImgContainer {
  border: 1px solid #E9E9E9;
  background-color: #FBFBFB;
  overflow: hidden;
}

.kcCardImgContainerActive {
  border: 1px solid #C7BDAF;
  background-color: #FFF3E1;
}

.kcListTable {
  border-spacing: 0 .75rem;
  border-collapse: separate;
}

.tableHeaderRow {
  font-size: 12px;
  color: #2B2B2B;
}

.tableBodyRow {
  background-color: #F9F9F9;
  font-size: 14px;
  color: #696868 !important;
  border-radius: 50%;
  
  td {
    border-top: 1px solid #E9E9E9 !important;
    border-bottom: 1px solid #E9E9E9 !important;
  }

  td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #E9E9E9 !important;
  }

  td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #E9E9E9 !important;
  }
}

.tableBodyRowActive {
  background-color: #FFF3E1;
  font-size: 14px;
  color: #696868 !important;
  border-radius: 50%;

  td {
    border-top: 1px solid #C7BDAF !important;
    border-bottom: 1px solid #C7BDAF !important;
  }

  td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #C7BDAF !important;
  }

  td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #C7BDAF !important;
  }
}

.hide_scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.kcFilterInputBox { 
  width: 80px; 
  height: 28px; 
  border: 1px solid #DADADA;
  border-radius: 0.25rem;
  padding: 0px 4px;
  font-size: 14px;
}

.kcFilterInputBox:focus-visible { 
  outline: none; 
  border: 1px solid #A69476;
}

.kcFilterButton {
  color: #A69476;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0;
  border: 1px solid #A69476 !important;
  height: 28px;
  width: 28px;
}

.kcFilterButton:hover {
  background-color: #FCF0DC;
  border: 1px solid #FCF0DC !important;
  color: #A69476 !important;
}

.kcFilterButton:focus-visible {
  outline: none;
  border: 1px solid #A69476;
}

.kcFilterActionButton {
  background-color: #A69476 !important; 
  width: 52px;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #A69476 !important;
  height: 28px;
}

.kcFilterActionButton:active {
  background-color: #A69476 !important; 
}

.kcFilterActionButton:focus-visible {
  background-color: #A69476 !important; 
  box-shadow: none;
}

.kcFilterActionButton:hover {
  background-color: #A69476 !important;
  border: 1px solid #A69476 !important;
}

.kcLogoutButton {
  color: #A69476;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0;
  border: 1px solid #A69476 !important;
  height: 34px;
}

.kcLogoutButton:hover {
  background-color: #F4F4F4;
  color: #A69476 !important;
}

.kcLogoutButton:focus-visible {
  outline: none;
  border: 1px solid #A69476;
}

.sidebarExtenstionSaveButton {
  border: 1px solid #A69476;
}

.sidebarExtenstionSaveButton:hover {
  background-color: #A69476 !important;
  color: #fff !important;
}