
  .imageContainer {
    width: 320px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .categories_title {
  display: flex;
  justify-content: space-between;
  }

  .tabcardContainer {
    border: none;
    display: flex;
    align-items: center;
  }
  .tabimageContainer {
  
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .tabProductPrice {
    margin-right: 15px;
    font-size: 17px;
  
  }
  .tabProductmrpPrice {
    color: #898888;
    text-decoration:line-through;
  }
  .tabProductColor{
    
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 0;
    text-align: center;
    background-size: cover;
    margin-right: 8px;
    cursor: pointer;
  }