@import '~react-image-gallery/styles/scss/image-gallery.scss';

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

@import 'components/filter.module';
// mobile sidebar css
@import 'components/sidebar.module';
// importing Masonry carousel banner
@import 'components/MasonryCarouselLayout.module.scss';

// common font sizes
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
// cursor-pointer
.cursor-pointer {
  cursor: pointer;
}
// background
.bg-blue {
  background-color: #233e63;
}
// Header
.heading-category-l1 {
  padding: 0px 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.heading-category-l1:hover + .popover,
.pop-over:hover {
  display: block;
}
.pop-over {
  display: none;
  position: absolute;
  z-index: 1000;
}
.pop-over.show {
  display: block;
}

.theme-gold {
  color: #ecd386;
}
.theme-blue {
  color: #233e63 !important;
  font-weight: 500;
}
.theme-blue-bg {
  background-color: #1a1a49;
  border: none !important;
}
.theme-btn-blue:hover {
  background-color: #1a1a49;
  border: none !important;
}
.slick-slide {
  padding: 12px !important;
}

.slick-slide {
  width: 320px !important;
}

// Navbar
.top-navbar {
  padding-top: 0.75rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.icon {
  color: #233e63;
  text-align: center;
  font-size: 22px !important;
}
.navbar-skeleton {
  background-color: #d9d9d9;
  padding: 9px;
}
.custom-dropdown-item:active,
.custom-dropdown-item:focus {
  background-color: #1a1a49; /* Custom background color */
  color: #ecd386 !important; /* Custom text color */
}
#basic-nav-dropdown {
  color: #233e63 !important;
  font-weight: 500 !important ;
}

// MobNavbar
.mobile-menu-toggle {
  cursor: pointer;
  font-size: 24px;
}
.w-icon-hamburger::before {
  font-weight: 900;
}
.fs-5 {
  font-size: 22px !important;
}
.fs-2 {
  font-size: 17px !important;
}
.fa-anchor {
  margin-right: 10px;
}

.fa-arrow-right {
  margin-left: auto;
}
.caret-icon {
  transition: transform 0.3s ease;
}

.caret-icon.rotate {
  transform: rotate(90deg);
}
// BreadCrumb styles
.breadcrumb-item a {
  color: #595959 !important;
  text-decoration: none;
  font-size: 15px !important;
}
.accordionHeaderTitle .accordion-button {
  color: #c45500 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-bottom: 10px !important;
}
.mandatoryField {
  color: #c44500;
}
.form-check-label {
  font-size: 13px !important;
}
.form-label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .mobile-menu-toggle {
    display: none !important;
  }
}
.list-toggle-rtl {
  margin-top: 25px;
}
// homepage global css
.slider-container {
  background-color: #fff;
  padding: 22px;
}
.dropdown-toggle:after {
  display: none !important;
}
//React Image Slider width Adjust

.productDetailImageSlider .image-gallery-slide .image-gallery-image {
  width: 99% !important;
}

// Tabs styles
.nav-link.active {
  color: #2c73d6 !important;
}
.nav-link {
  color: black !important;
}

.navbar_category {
  text-align: right !important;
  color: #cd8825 !important;
}

.carousel_styles .react-multi-carousel-track {
  width: 100%;
}