@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

@import 'components/filter.module';
// mobile sidebar css
@import 'components/sidebar.module';
// importing Masonry carousel banner
@import 'components/MasonryCarouselLayout.module.scss';
// importing mobile footer accordian
@import 'components/mobile_footer_accordian.module.scss';
/* @import url("/node_modules/primeflex/primeflex.css"); */
:root {
  /* Colors */
  --primary-color: #fffaf2;
  --brown-color: #a69476;
  --light-brown-color: #d7cfc1;
  --gray-color: #9e9fa4;
  --white-color: #fcfcfc;
  /* Sidebar Width */
  --sidebar-width: 18vw;
  /* Header Height */
  --header-height: 50px;
  --es-primary-color: #E69E17;
  --es-light-gray: #F2F5F6;
  --es-text-color: #3d1d15;
}
body {
  font-family: Arial, Helvetica, sans-serif, 'DM Sans';
  margin: 0;
}
.cursor-pointer {
  cursor: pointer;
}
/* Color Classes */
.text-brown {
  color: var(--brown-color) !important;
}
.text-light-brown {
  color: var(--light-brown-color) !important;
}
/* Background color Classes */
.bg-brown {
  background-color: var(--brown-color) !important;
}
/* Spacing */
.h-2rem {
  height: 2rem;
}
/* Custom Sidebar CSS */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width); /* Your fixed sidebar width */
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 1050;
}
/* Custom Search select dropdown */
.zindex-dropdown {
  z-index: 1050;
}
.selected-item {
  background-color: var(--primary-color);
  color: var(--brown-color);
}
.list-group-item.list-group-item-action:hover {
  background-color: var(--primary-color) !important;
  color: var(--brown-color);
}
.list-group-item.active {
  background-color: var(--primary-color) !important;
  color: var(--brown-color);
  /* font-weight: 500; */
  border: none;
}
/* Use filter note CSS*/
.use-filter-note {
  margin-left: var(--sidebar-width) !important;
}
.note-height {
  height: calc(100vh - var(--header-height));
}
/* Header CSS */
.header {
  height: var(--header-height);
}
/* Custom Bootstrap input CSS */
.input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  border-color: var(--brown-color);
  color: var(--brown-color);
  border-radius: 10px;
}
.form-control:focus {
  box-shadow: none !important;
}
@keyframes slideInFromRight {
  from {
    left: 0;
  }
  to {
    left: var(--sidebar-width);
  }
}
@keyframes slideOutToRight {
  from {
    left: var(--sidebar-width);
  }
  to {
    left: calc(var(--sidebar-width) + 400px);
  }
}
.slide-in {
  animation-name: slideInFromRight;
}
.slide-out {
  animation-name: slideOutToRight;
}
/* components/SidebarLayout.css */
.custom-react-offcanvas .custom-react-offcanvas {
  left: var(--sidebar-width);
}
.offcanvas.offcanvas-start {
  left: var(--sidebar-width) !important;
  box-shadow: none;
  border: none;
}
/* react-select lib custom css */
.custom-react-select {
  .css-13cymwt-control {
    border-color: var(--brown-color) !important;
    color: var(--brown-color) !important;
  }
  .css-t3ipsp-control {
    border-color: var(--brown-color) !important;
    box-shadow: none !important;
    border-radius: 10px !important;
  }
  .css-b62m3t-container {
    border-color: var(--brown-color) !important;
  }
}

.input-module__xTpN4q__inputBox {
  border-radius: 10px !important;
}

.slide-module__mkx4Pa__inputBox {
  border-radius: 10px !important;
}

/* .fileupload-module__-F2apa__label{
  padding: 2px 10px !important;
  color: #56534d !important;
} */

input[type='text'] {
  box-shadow: none !important;
}
// body::-webkit-scrollbar {
//   scrollbar-width: none;
// }

// common font sizes
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

// cursor-pointer
.cursor-pointer {
  cursor: pointer;
}

// background
.bg-blue {
  background-color: #233e63;
}

// Header
.heading-category-l1 {
  padding: 0px 16px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.heading-category-l1:hover + .popover,
.pop-over:hover {
  display: block;
}

.pop-over {
  display: none;
  position: absolute;
  z-index: 1000;
}

.pop-over.show {
  display: block;
}

.popover {
  max-width: 80vw !important;
  min-width: 70% !important;
  margin-top: 15px;
  padding: 20px !important;
  cursor: pointer;
  border: 0;
}

.popover-arrow {
  display: none !important;
}

.theme-gold {
  color: #cd8825;
}

.theme-blue {
  color: #233e63 !important;
  font-weight: 500;
}

.theme-blue-bg {
  background-color: #1a1a49;
  border: none !important;
}

.theme-btn-blue:hover {
  background-color: #1a1a49;
  border: none !important;
}

.slick-slide {
  padding: 12px !important;
}

.slick-slide {
  width: 320px !important;
}

// Navbar
.top-navbar {
  padding-top: 0.75rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.icon {
  color: #233e63;
  text-align: center;
  font-size: 22px !important;
}

.navbar-skeleton {
  background-color: #d9d9d9;
  padding: 9px;
}

.custom-dropdown-item:active,
.custom-dropdown-item:focus {
  background-color: #1a1a49;
  /* Custom background color */
  color: #ecd386 !important;
  /* Custom text color */
}

#basic-nav-dropdown {
  color: #233e63 !important;
  font-weight: 500 !important;
}

// MobNavbar
.mobile-menu-toggle {
  cursor: pointer;
  font-size: 24px;
}

.w-icon-hamburger::before {
  font-weight: 900;
}

.fs-5 {
  font-size: 22px !important;
}

.fs-2 {
  font-size: 17px !important;
}

.fa-anchor {
  margin-right: 10px;
}

.fa-arrow-right {
  margin-left: auto;
}

.caret-icon {
  transition: transform 0.3s ease;
}

.caret-icon.rotate {
  transform: rotate(90deg);
}

// BreadCrumb styles
.breadcrumb-item a {
  color: #595959 !important;
  text-decoration: none;
  font-size: 15px !important;
}

.accordionHeaderTitle .accordion-button {
  color: #c45500 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding-bottom: 10px !important;
}

.mandatoryField {
  color: #c44500;
}

.form-check-label {
  font-size: 13px !important;
}

.form-label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}

.border-black {
  border: 1px solid black;
}

.list-toggle-rtl {
  margin-top: 25px;
}

// homepage global css
.slider-container {
  background-color: #fff;
  padding: 22px;
}

.dropdown-toggle:after {
  display: none !important;
}

//React Image Slider width Adjust

.productDetailImageSlider .image-gallery-slide .image-gallery-image {
  width: 99% !important;
}

//
.link-tag-without-default-styles {
  text-decoration: none;
  color: #000;
}

// Tabs styles
.nav-link.active {
  color: #2c73d6 !important;
}

.nav-link {
  color: black !important;
}

.navbar_category {
  text-align: right !important;
  color: #cd8825 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_styles .react-multi-carousel-track {
  width: 100%;
}

// ApparelTheme css
.carousel-indicators [data-bs-target] {
  height: 11px !important;
  width: 11px !important;
  border-radius: 50% !important;
  background-color: #222222 !important;
}

.carousel-caption {
  position: absolute;
  right: 80% !important;
  text-align: left;
  top: 40% !important;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12%;
  width: 57%;
}
.font-poppins {
  font-family: Poppins !important;
}
.carousel-inner {
  height: 100% !important;
}

.react-multiple-carousel__arrow {
  top: 35% !important;
  min-width: 32px !important;
  min-height: 32px !important;
  border: 1px solid #000 !important;
  background-color: transparent !important;
}

.react-multiple-carousel__arrow:before {
  color: #000 !important;
  font-size: 14px !important;
}

.react-multiple-carousel__arrow:hover {
  color: #fff !important;
  background-color: #56cfe1 !important;
  border: 1px solid #56cfe1 !important;
}

.custom-container-xl {
  // margin-left: 150px !important;
  // margin-right: 150px !important;
  margin-left: 191.5px !important;
  margin-right: 191.5px !important;
  padding-left: 13px;
  padding-right: 13px;
}

.custom-container-lg {
  margin-left: 250px !important;
  margin-right: 250px !important;
}
.grey {
  color: rgb(135, 135, 135);
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px;
}
.fw-600 {
  font-weight: 600;
}
.custom-margin-top {
  margin-top: 32px;
}
@media (min-width: 992px) {
  .productImgMagnify_product_img__mVrRB {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .productImgMagnify_small_img__8UcvF {
    height: 100% !important;
  }
}

@media (max-width: 1500px) {
  .custom-container-xl {
    margin-right: 60px !important;
    margin-left: 60px !important;
  }

  .custom-container-lg {
    margin-left: 160px !important;
    margin-right: 160px !important;
  }
}

@media (max-width: 1000px) {
  .custom-container-xl {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .custom-container-lg {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

//Follow us section
.slick-slide {
  padding: 0 !important;
}

.follow-us-image-container:focus {
  outline: none !important;
  box-shadow: none !important;
}

//Follow us section end

// Footer css
.mobile_footer_container .input-group > .form-control,
.web_footer_container .input-group > .form-control {
  border-radius: 0 !important;
}

.mobile_footer_container .input-group > .form-control:focus,
.web_footer_container .input-group > .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #878787 !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
  .custom-margin-top {
    margin-top: 12px;
  }
}

/* react-select lib custom css */
.custom-react-select {
  .css-13cymwt-control {
    border-color: var(--brown-color) !important;
    color: var(--brown-color) !important;
  }
  .css-t3ipsp-control {
    border-color: var(--brown-color) !important;
    box-shadow: none !important;
    border-radius: 10px !important;
  }
  .css-b62m3t-container {
    border-color: var(--brown-color) !important;
  }
}

.input-module__xTpN4q__inputBox {
  border-radius: 10px !important;
}

.slide-module__mkx4Pa__inputBox {
  border-radius: 10px !important;
}

.input-module__xTpN4q__inputBox {
  border-radius: 10px !important;
}

.slide-module__mkx4Pa__inputBox {
  border-radius: 10px !important;
}

.css-tr4s17-option {
  font-size: 12px !important;
}

.css-1nmdiq5-menu {
  border: 1px solid #a69476 !important ;
  border-radius: 10px !important;
}

.css-10wo9uf-option {
  font-size: 12px !important;
}

.css-d7l1ni-option {
  padding: 8px 12px !important;
}

.css-1nmdiq5-menu {
  margin-top: 1px !important;
  /* width:300px !important; */
}

.css-1nmdiq5-menu:focus-visible {
  outline: none !important;
}

.css-qr46ko {
  border-radius: 10px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  outline: none !important;
}

.css-13cymwt-control {
  border-radius: 10px !important;
}

.css-13cymwt-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.css-b62m3t-container {
  width: 292px !important;
  font-size: 14px !important;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
}

.an-simple-multiselect__option.an-simple-multiselect__option--is-focused:hover {
  background-color: lightgray !important;
  color: black !important;
}

.an-simple-multiselect__option:hover {
  background-color: lightgray !important;
  color: black !important;
}

.an-simple-multiselect__option.an-simple-multiselect__option--is-focused {
  background-color: transparent !important;
  color: black !important;
}

.an-simple-multiselect__option.an-simple-multiselect__option--is-selected {
  background-color: transparent !important;
  color: black !important;
}

.an-simple-multiselect__option {
  font-size: 14px !important;
}

.an-simple-multiselect__control--is-focused {
  border-color: #a69476 !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  font-size: 14px;
}

.an-simple-select__option.an-simple-select__option--is-focused:hover {
  background-color: lightgray !important;
  color: black !important;
}

.an-simple-select__option:hover {
  background-color: lightgray !important;
  color: black !important;
}

.an-simple-select__option.an-simple-select__option--is-focused {
  background-color: transparent !important;
  color: black !important;
}

.an-simple-select__option.an-simple-select__option--is-selected {
  background-color: transparent !important;
  color: black !important;
}

.an-simple-select__option {
  font-size: 14px !important;
}

.an-simple-select__control--is-focused {
  border-color: #a69476 !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  font-size: 14px;
}

.accordion {
  --bs-accordion-border-color: none !important;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F6;
  padding: 0;
  max-height: 210px;
  overflow: auto;
  position: relative;
}

// //hide scrollbar
// .accordion-item {
//   -ms-overflow-style: none; /* Edge, Internet Explorer */
//   scrollbar-width: none; /* Firefox */
//   overflow-y: scroll;
// }

// // hides scrollbars while allowing to scroll
// .accordion-item::-webkit-scrollbar {
//   display: none; /* Chrome, Safari, Opera */
// }

/* width */
.accordion-item::-webkit-scrollbar {
  width: 6px;
  margin-top: 40px;
}

/* Track */
.accordion-item::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  // border: 1px solid #dadada;
}

/* Handle */
.accordion-item::-webkit-scrollbar-thumb {
  background: #dddfe0;
  border-radius: 10px;
}

.accordion-button {
  position: sticky;
  top: 0;
  padding: 14px 14px 0 !important;
  background-color: #F2F5F6 !important;
  font-size: 14px;
  color: #3d1d15 !important;
  font-weight: 600 !important;
  border: 0 !important;
}

.accordion-button.collapsed {
  padding: 14px 14px 14px !important;
  background-color: #F2F5F6;
  border: 0 !important;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 16 16'%3E%3Cpath d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
}

.accordion-button:not(.collapsed):after {
  rotate: 180deg;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23E69E17' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 16 16'%3E%3Cpath d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
}

.accordion-button.show {
  border: 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-collapse .accordion-body {
  padding: 0 14px  !important;
}

.web-filter .accordion-button:not(.collapsed) {
  padding: 14px 14px 8px !important;
}

.accordion-body {
  margin-bottom: 6px;
}
